/*//////////////////////////////////////// Global styling ////////////////////////////////////////*/

@font-face {
  font-family: "Baloo Paaji 2";
  src: url("../fonts/BalooPaaji2-Regular.ttf");
}

* {
  color: #2c003e;
  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  /* cursor: none; */
  text-decoration: none;
  font-family: "Baloo Paaji 2", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

html {
  pointer-events: none;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.active {
  overflow: auto;
  pointer-events: all;
}
/*//////////////////////////////////////// Cursor ////////////////////////////////////////*/

.custom-cursor {
  overflow: hidden;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 3;
  transition: all 0.1s ease, transform 0.3s ease;
}

.cursor-grow {
  transform: scale(3) translate(-10%, -20%);
  background-color: #000;
}

.clicked {
  width: 2rem;
  height: 2rem;
}

.blinking-cursor {
  -webkit-animation: blink 0.5s ease infinite;
  animation: blink 0.5s ease infinite;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*//////////////////////////////////////// Preloader ////////////////////////////////////////*/

#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 5;
  vertical-align: middle;
}

#preloader h4 {
  font-weight: 500;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -10%);
}

.aeroplane {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 20%;
  z-index: 30;
  transform: translate(-20%, -30%);
  -webkit-animation: plane 1s ease-in-out alternate infinite;
  animation: plane 1s ease-in-out alternate infinite;
}

@media screen and (min-width: 992px) {
  .aeroplane {
    top: 10% !important;
  }
}

.cloud {
  position: absolute;
}

.cloud1 {
  width: 7%;
  top: 2%;
  right: -100%;
  -webkit-animation: cloud 4s linear infinite 0s;
  animation: cloud 4s linear infinite 0s;
}

.cloud2 {
  width: 9%;
  top: 12%;
  right: -100%;
  z-index: 31;
  -webkit-animation: cloud 5s linear infinite 2s;
  animation: cloud 5s linear infinite 2s;
}

.cloud3 {
  width: 7%;
  top: 30%;
  right: -100%;
  -webkit-animation: cloud 2s linear infinite 0.4s;
  animation: cloud 2s linear infinite 0.4s;
}

.cloud4 {
  width: 8%;
  top: 57%;
  right: -100%;
  z-index: 31;
  -webkit-animation: cloud 4s linear infinite 2s;
  animation: cloud 4s linear infinite 2s;
}

.cloud5 {
  width: 4.5%;
  top: 37%;
  right: -100%;
  z-index: 31;
  -webkit-animation: cloud 3s linear infinite 4s;
  animation: cloud 3s linear infinite 4s;
}

.cloud6 {
  width: 9%;
  top: 50%;
  right: -100%;
  z-index: 29;
  -webkit-animation: cloud 4s linear infinite 0.2s;
  animation: cloud 4s linear infinite 0.2s;
}

#preloader h3 {
  text-align: center;
}

@-webkit-keyframes cloud {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
}

@keyframes cloud {
  from {
    right: -100%;
  }
  to {
    right: 100%;
  }
}

@-webkit-keyframes plane {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-20%);
  }
}

@keyframes plane {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(-20%);
  }
}
/*//////////////////////////////////////// Top Navbar ////////////////////////////////////////*/

.nav {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
  box-shadow: 4px 4px 10px #e7ffed;
  padding: 0 8%;
  background-color: #fff;
  top: 0;
}

.nav-item {
  padding: 1%;
  margin: 2%;
  z-index: 4;
  cursor: pointer;
}

.nav-link {
  transition: 0.4s ease;
  font-size: 1.5rem;
}

.nav-item:hover .nav-link {
  cursor: pointer;
}

/*//////////////////////////////////////// Hello ////////////////////////////////////////*/

#hello {
  padding: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#hello .container {
  margin: 0 2%;
  text-align: center;
}

#hello .container h5 {
  margin: 2%;
  padding: 0 15%;
  color: #fa744f;
}

#hello h1 {
  border-top: 3px solid #21bf73;
  border-bottom: 3px solid #21bf73;
  margin: 100% 0;
  color: #252020;
  width: 25em;
  height: 6.5em;
  display: table-cell;
  vertical-align: middle;
}

#hello .dynamic-text {
  color: #252020;
}

#hello img {
  width: 50%;
}

@media screen and (min-width: 992px) {
  #hello h1 {
    font-size: 4rem;
  }

  .nav-item:hover .nav-link {
    color: #fff;
  }
}

/*//////////////////////////////////////// About ////////////////////////////////////////*/

#about {
  text-align: center;
  padding: 10%;
  padding-bottom: calc(15% + 100px);
  background-color: #b0eacd;
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: -1px;
  left: 0;
  width: 100%;
  height: 40px;
  -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
}

#about .main {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about img {
  width: 20rem;
  border-radius: 40%/20%;
  box-shadow: 0 0 10px #fd5e53;
}

#about .pic-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#about .container {
  text-align: center;
}

#about .pic-wrap h5 {
  display: inline-block;
  margin: 3% 0;
}

#about .info-wrap {
  width: 50%;
  text-align: justify;
}

#about a {
  color: #fd5e53;
  transition: all 0.4s ease;
}

#about a:hover {
  text-decoration: underline;
}

/*//////////////////////////////////////// Services ////////////////////////////////////////*/

#services {
  background-color: #fff;
  padding: 5% 0;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

#services .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#services .card {
  padding: 7% 5%;
  margin: 2%;
  height: 80%;
  box-shadow: 0 0 5px #b5eed0;
  border-radius: 15px;
}

#services .card-header {
  font-size: 2rem;
  color: #ff5722;
}

#services .card-header img {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 5%;
}

#services .card-body {
  font-size: 1.2rem;
  margin-top: 5%;
}

/*//////////////////////////////////////// Skills ////////////////////////////////////////*/

#skills {
  text-align: center;
  padding: 15% 5%;
  padding-bottom: 20%;
  background-color: #ff877e;
  position: relative;
}

#skills::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #fff;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 40px;

  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 100%);
  clip-path: polygon(100% 100%, 100% 0, 0 100%);
}

#skills h1,
#skills h3 {
  color: #fff;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.skill-container img {
  width: 10%;
  margin: 5%;
}

/*//////////////////////////////////////// Portfolio ////////////////////////////////////////*/

#portfolio {
  padding: 5%;
  margin: 10% 5%;
  text-align: center;
}

#portfolio h5 {
  width: 90%;
  margin: 0 auto;
}

#portfolio .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 3% 0;
}

#portfolio .card {
  display: inline-block;
  border-radius: 0;
  width: 15rem;
  height: 15rem;
  background: transparent;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: none;
  overflow: hidden;
  position: relative;
  margin: 2%;
}

#portfolio .card img {
  display: block;
  width: 100%;
}

#portfolio .card .overlay {
  padding: 0.5rem;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
}

#portfolio .card:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

#portfolio .card h5,
#portfolio .card h6 {
  transform: translateY(7px);
  opacity: 0;
  transition: 0.4s ease 0.2s;
  transform: translateY(5px);
}

#portfolio .card:hover h5,
#portfolio .card:hover h6 {
  transform: translateY(0);
  opacity: 1;
}

#portfolio .card h5 {
  font-size: 1.3rem;
  color: #fff;
}

#portfolio .card h6 {
  color: #fff;
}

/*//////////////////////////////////////// Contact ////////////////////////////////////////*/

#cta {
  margin-top: 10%;
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  background-color: #222831;
  position: relative;
  text-align: center;
}

#cta::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 25%;
  background-color: #fff;
  -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0);
  clip-path: polygon(50% 50%, 0 0, 100% 0);
}

#cta h5 {
  width: 50%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#cta .btn {
  margin: 2.5rem 0;
  padding: 1rem;
  color: #21bf73;
  border: 2px solid #21bf73;
  border-radius: 50px;
  transition: all 0.4s ease, border 0.2s ease;
}

#cta .btn:hover {
  color: #fff;
  border: #222831 2px solid #21bf73;
  background-color: #21bf73;
}

/*//////////////////////////////////////// Media queries ////////////////////////////////////////*/

@media screen and (max-width: 992px) {
  * {
    cursor: auto;
  }

  .custom-cursor {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  .nav {
    padding: 0 5%;
  }

  .nav-item {
    margin: 1%;
  }

  .nav-link {
    font-size: 1rem;
  }

  #hello img {
    display: none;
  }

  #about .main {
    flex-direction: column;
  }

  #about .pic-wrap {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  #about img {
    width: 15rem;
  }

  #about .info-wrap {
    width: 100%;
  }

  #portfolio .card .overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #portfolio .card h5,
  #portfolio .card h6 {
    transform: translateY(0px);
    opacity: 1;
  }

  #cta {
    padding-top: 20%;
  }

  .backend {
    width: 20% !important;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: auto;
  }

  .custom-cursor {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
  }

  #about {
    padding-top: 20% !important;
  }

  .card-container {
    flex-direction: column;
  }

  #services .card {
    width: 80%;
    margin: 10%;
  }

  #portfolio .card-container {
    flex-direction: row;
  }

  #portfolio .card {
    width: 10rem;
    height: 10rem;
  }

  #about img {
    width: 10rem;
  }

  #cta h5 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .custom-cursor {
    display: none;
  }

  h1 {
    font-size: 1.7rem;
  }

  #servies .card {
    width: 90%;
    margin: 10%;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  #cta {
    padding-top: 25%;
  }

  .cloud1 {
    width: 7%;
  }

  .cloud2 {
    width: 14%;
  }

  .cloud3 {
    width: 12%;
  }

  .cloud4 {
    width: 13%;
  }

  .cloud5 {
    width: 9.5%;
  }

  .cloud6 {
    width: 17%;
  }
}
